.about h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  color: #00458b;
}
.about h3 {
  color: #00458b;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.about table {
  margin-bottom: 2rem;
}
.about table th {
  background-color: #99ddff;
  padding: 1rem;
  color: black;
}

.about table td {
  padding: 1rem;
}

.about table thead {
  font-weight: bold;
  background: #edf2f7;
}
.about table tbody {
  background-color: #edf2f7;
}
